* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(180deg, #009688 0%, #d9dbd5 20%);
  padding-top: 50px;
  padding-bottom: 50px;
}

#app {
  width: 80%;
  margin: auto;
  height: 100%;
}

.side_bar {
  width: 30%;
}

.main_content {
  width: 70%;
}

.top_bar,
.bottom_bar,
.user_name,
.notifiche {
  height: 15%;
}

.main,
.contatti {
  height: 70%;
}

.main {
  background-image: url("../img/mine.jpg");
}

.top_bar {
  background-color: #eaeaea;
  border-left: 0.5px solid #dedede;
}

.bottom_bar {
  background-color: #f3eeea;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.bottom_bar > i {
  color: #6b7376;
  font-size: 30px;
  margin: 0 20px;
}

.bottom_bar > input {
  border: 0;
  width: 100%;
  height: 70%;
  padding-left: 20px;
  border-radius: 10px;
  outline: none;
}

.user_name {
  background-color: #eaeaea;
  border-right: 0.5px solid #dedede;
}

.notifiche {
  background-color: #8edafc;
}

.contatti {
  background-color: white;
}
